#contactform form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}
    
#contactform label {
display: block;
margin-top: 10px;
}
    
#contactform input[type="text"],
#contactform textarea {
padding: 10px;
margin: 10px 0;
border-radius: 5px;
border: none;
width: 100%;
box-sizing: border-box;
}
    
#contactform textarea {
height: 150px;
}
    
#contactform input[type="submit"] {
padding: 10px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
box-sizing: border-box;
font-size: 16px;
}