.form-container {  
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "nameLabel name"
        "emailLabel email"
        "subjectLabel subject"
        "messageLabel message"
        "submit submit";
}

.name { grid-area: name; }

.nameLabel { grid-area: nameLabel; }

.email { grid-area: email; }

.emailLabel { grid-area: emailLabel; }

.subject { grid-area: subject; }

.subjectLabel { grid-area: subjectLabel; }

.message { grid-area: message; }

.messageLabel { grid-area: messageLabel; }

.submit { grid-area: submit; }

