/* Center the page content */
.product-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the container for the product details */
  .product-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .product-image-container {
    flex: 1;
    margin-right: 20px;
  }
  .product-details {
    flex: 1;
  }
  /* Style the product image */
.product-img {
    width: 100%;
    max-width: 300px;
    margin-right: 30px;
    margin-left: 50px;
  }
  .quantity-input {
    width: 4em; /* Adjust this value to fit the width of three digits */
    text-align: center;
  }  
  
  /* Style the container for the product description and price */
  .product-details-info {
    flex: 1;
  }
  
  /* Style the product title */
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style the product price */
  .product-price {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Style the product description */
  .product-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Style the add to basket button */
  .add-to-basket {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .add-to-basket:hover {
    background-color: #0069d9;
  }
  .back-to-shop-btn {
    width: 9%;
    display: inline-block;
    background-color: #f1f1f1;
    color: #333;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; /* Adjust this value if you want to change the button's horizontal position */
}

.back-to-shop-btn:hover {
    background-color: #e5e5e5;
    color: #333;
    text-decoration: none;
}

.back-to-shop-btn:active {
    background-color: #d4d4d4;
    color: #333;
    text-decoration: none;
}
