.box {
    text-align: center;
}

.form-container {  
    width: 50%;
    height: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "emailLabel email"
        "firstNameLabel firstname"
        "lastNameLabel lastname"
        "nicknameLabel nickname"
        "dobLabel dob"
        "phoneNoLabel phoneNo"
        "postcodeLabel postcode"
        "addressLabel address"
        "surfAbilityLabel surfAbility-radio-container"
        "notesLabel notes"
        "submit submit";
}
  
.email { grid-area: email; }  
.emailLabel { grid-area: emailLabel; font-weight: bold; }
.firstname { grid-area: firstname;  }  
.firstNameLabel { grid-area: firstNameLabel; font-weight: bold; }  
.lastname { grid-area: lastname; }  
.lastNameLabel { grid-area: lastNameLabel; font-weight: bold; }  
.nickname { grid-area: nickname; }
.nicknameLabel { grid-area: nicknameLabel; font-weight: bold; }
.dob { grid-area: dob; }
.dobLabel { grid-area: dobLabel; font-weight: bold; }
.phoneNoLabel { grid-area: phoneNoLabel; font-weight: bold; }
.phoneNo { grid-area: phoneNo; }
.postcodeLabel { grid-area: postcodeLabel; font-weight: bold; }
.postcode { grid-area: postcode; }
.addressLabel { grid-area: addressLabel; font-weight: bold; }
.address { grid-area: address; }
.surfAbilityLabel { grid-area: surfAbilityLabel; font-weight: bold; }
.surfAbility-radio-container { grid-area: surfAbility-radio-container; }
.notesLabel { grid-area: notesLabel; }
.notes { grid-area: notes; }
.submit { grid-area: submit; }
  
.form-container div {
    margin-bottom: 1em;
}

.surfAbility-radio-container label {
    font-weight: lighter;
}

/* .form-container label {
    font-weight: bold;
} */

.form-container form {
    padding: 20px;
    height: 100%;
    width: auto;
    border-radius: 12px;
    background-color: #F1F1F1;
}

input[type=text] {
    width: 50vw;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=password]:focus {
    border-color:#333;
}

input[type=submit] {
    width: 50vw;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}